.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	padding: 12px 32px;
	background-color: $yellow;
	border: none;
	border-radius: 999px;
	color: $white;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	transition: background-color $transition;
	cursor: pointer;

	&:hover {
		background-color: $orange;
	}

	.material-symbols-outlined {
		width: 24px;
		height: 24px;
		margin-left: 8px;
	}
}