*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	height: 100%;
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	background-color: $body-bg;
	color: $body-color;
	font: #{$font-size-base}/$line-height-base $font-family-base;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: $links-color-base;
	outline: none;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* input {
	appearance: none;
	border-radius: 0;
	outline: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: none;
	padding: 0;
} */

input,
textarea,
select,
button {
	font: inherit;
	appearance: none;
	transition: all $transition;
	//cursor: pointer;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;;
}

svg *[fill] {
	fill: currentColor
}

svg *[stroke] {
	stroke: currentColor
}

svg * {
	transition-property: fill, stroke;
}

p,
b {
	display: inline-block;
	margin: 0 0 .5em;
	padding: 0;
}

@for $i from 1 through 6 {
	h#{$i} {
		margin: 0 0 0.5em;
		font-weight: $headings-font-weight;
	}
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: hidden;

	.container {
		--containerWidth: 1504px;
						
		width: 100%;
		max-width: calc(var(--containerWidth) + $paddingX * 2);
		margin-inline: auto;
		padding-inline: $paddingX;

		@media screen and (max-width: 768px) {
			max-width: 100%;
		}
	}
}

.main_title {
	margin-bottom: 48px;
	font-size: clamp(30px, 2.81vw, 36px);
	line-height: clamp(36px, 3.12vw, 40px);
	text-align: center;
}