// fonts
$inter: 'Inter', sans-serif;

// colors
$white: #fff;
$black: #000;
$black2: #1f2937;
$black3: #374151;
$black4: #111827;
$gray: #d1d5db;
$gray2: #f3f4f6;
$gray3: #f9fafb;
$gray4: #4b5563;
$gray5: #6b7280;
$gray6: #9ca3af;
$orange: #ea580c;
$orange2: #f97316;
$orange3: #c2410c;
$orange4: #9a3412;
$yellow: #fb923c;
$yellow2: #fff7ed;
$yellow3: #fed7aa;
$red: #ef4444;

// base
$body-bg: $white;
$body-color: $black2;
$font-family-base: $inter;
$font-size-base: 1.6rem;
$line-height-base: 1.5;
$links-color-base: inherit;
$headings-font-weight: 700;
$borderRadius: 8px;
$transition: .2s ease;
$paddingX: 16px;